.TopAlbums{
    margin-top: 2%;
    padding: 0;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}
.TopAlbums .Lista{
    display: table;
    padding: 0;
    border: none;
}


.TopAlbums .Lista .infoA{
    display: table-cell;
    vertical-align: bottom;
    border: none;
    width: 25%;
    text-align: center;
}

.mejoresAlbumes .Lista .Cover img{
    width: 60%;
}

.Lista li {
    width: 33% !important;
    display: inline-block;
}

.infoA {    
    text-align: center;
}

.homeFooter p {
    font-size: 20px;
    font-weight: 900;    
    padding: 0 20px;
}