button {
    background-color: black ;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15%;
  }

form.updateName {
  padding: 0 2em;
}

.updateName div {
  width: 19%;
  padding: 6px 0px;
}

.updateName div input {
  float: right;
}